[user]
	name = xxnanyuan
	email = 100514208+xxnanyuan@users.noreply.github.com
[http]
	postBuffer = 524288000
[core]
	editor = vim
	pager = 
	autocrlf = input
	safecrlf = warn
[color]
	ui = true
[init]
	defaultBranch = master
